<section class="p-2 bg-violet-300">
  <ns-admin-icon [color]="color"></ns-admin-icon>

  <button
    ns-button
    filled
    color="blue"
    type="button"
    (click)="changeColor()">
    Change icon color
  </button>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <input formControlName="password">

    <ghost-input
      label="E-mail"
      formControlName="email"
      [error]="emailError"></ghost-input>
    <ghost-input
      label="Password"
      formControlName="password"></ghost-input>
    <button
      ns-button
      filled
      color="green"
      type="submit">
      Log in
    </button>
  </form>
</section>
