<main class="p-4">
  <button nsButton (click)="onClick()" color="green">Hi</button>
  <button nsButton color="red" filled>Hi</button>
  <div nsButton color="green" filled>1 1</div>
  <div nsButton color="blue" filled size="small" rounded="lg">d</div>
  <div nsButton color="red" transparency filled size="small">d</div>
  <hr />

  <div class="p-2 bg-slate-200 h-20">
    <switch></switch>
  </div>

  <ns-slider></ns-slider>
  <connections-page></connections-page>

  <a routerLink="/auth" ariaCurrentWhenActive="page">Log in</a>

  <router-outlet></router-outlet>
  <input inputDirective />

  <ns-ghost-input  label="E-mail"/>
</main>
